@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-semibold mt-4;
  }
  h2 {
    @apply text-xl font-semibold mt-4;
  }
  h3 {
    @apply text-lg font-semibold mt-4;
  }
}
